html {
    font-size: 10pt;
}

body {
    background: white;
    color: black;
}

pre {
    background: transparent !important;
    border: 1px solid black;
}

.site-navigation,
.docs-sidebar,
.docs-lead {
    display: none !important;
}

.docs,
.docs-content {
    max-width: auto !important;
    width: 100% !important;
}